@font-face {
    font-family: 'THSarabunPSK';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/THSarabun.ttf') format('truetype');
}
@font-face {
    font-family: 'THSarabunPSK';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/THSarabun Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'THSarabunPSK';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/THSarabun Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'THSarabunPSK';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/THSarabun BoldItalic.ttf') format('truetype');
}

#welcome {
	font-family: 'THSarabunPSK' !important;
	font-size: 16pt;
	background: url('../images/plainbg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#welcome .ui.inverted.segment, .ui.primary.inverted.segment {
	background: transparent;
}

#welcome .ui.secondary.pointing.menu {
	font-family: 'THSarabunPSK' !important;
	font-size: 20pt !important;
	border: none;
}

#welcome .ui.secondary.pointing.menu .active.item {
	border: none;
	color: #FF8C00 !important; 
	padding-top: 0 !important;
	padding-bottom: 40px;
}

#welcome .ui.menu .item {
	color: #04202C !important;
	padding-top: 0 !important;
	padding-bottom: 40px;
}

#welcome .ui.description .ui.inverted.segment .segment {
	background: #C9D1C8 !important;
	color: #04202C !important; 
}

#welcome .ui.description .ui.forest.header {
	color: #04202C !important; 
}

#welcome .ui.description .ui.form select {
	height: auto;
	width: auto;
}

#welcome .ui.description .ui.table, .ui.table thead th {
	font-size: 12pt;
	color: #04202C;
}

#login {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 100px;
}

#tablehead {
	background-color: #04202C; 
	color: #C9D1C8;
}

#phone {
	background-color: #5B7065; 
	color: #C9D1C8;
}

