@import url('https://fonts.googleapis.com/css?family=Pridi:300,400');

body {
	font-family: 'Pridi', 'serif' !important;
    background-color: #fff;
}

::-webkit-scrollbar { 
    display: none; 
}

.ui.vertical.sidebar.menu {
    background-color: #04202c;
    font-family: 'Pridi', 'serif' !important;
    border-right: none;
}

.ui.vertical.sidebar.menu .item {
    color: #c9d1c8 !important;
    font-weight: 300;
}

.ui.vertical.sidebar.menu .menu.item {
    height: 52.06px;
    color: #c9d1c8 !important;
    padding-top: 19.03px;
}

.ui.vertical.sidebar.menu .active.item {
    background-color: #c9d1c8;
    font-weight: bold;
    color: #04202c !important;
}

.ui.vertical.sidebar.menu .active.item .title {
    color: #04202c !important;
}

.ui.vertical.sidebar.menu .active.item .active.content .item {
    color: #04202c !important;
}

.ui.vertical.sidebar.menu .active.item .active.content .item>i.icon {
    color: #04202c !important;
}

.ui.vertical.sidebar.menu .active.item .active.content .active.item {
    background-color: #04202c !important;
    font-weight: normal !important;
    color: #c9d1c8 !important;
}

.ui.vertical.sidebar.menu .active.item .active.content .active.item>i.icon {
    color: #c9d1c8 !important;
}

.ui.vertical.sidebar.menu .active.item>i.icon{
    color: #04202c !important;
}

.ui.header {
	font-family: 'Pridi', 'serif' !important;
	color: #04202c !important;
}

.ui.orange.header {
    font-family: 'Pridi', 'serif' !important;
    text-transform: uppercase;
}

.ui.inverted.header {
    font-family: 'Pridi', 'serif' !important;
    color: #f2f2f2 !important;
    font-weight: 300;
    text-transform: uppercase;
}

.ui.accordion .title {
	font-family: 'Pridi', 'serif' !important;
	color: #c9d1c8 !important;
}

.ui.accordion .item>i.icon {
    color: #c9d1c8 !important;
}

.ui.menu .item>i.icon {
    color: #c9d1c8 !important;
}

.ui.visible.left.sidebar ~ .pusher {
    padding-top: 103px;
    padding-right: 260px;
}

body.pushable>.pusher {
    padding-top: 103px;
    background: #fff !important;
}


.ui.visible.left.sidebar ~ .ui.top.fixed.menu {
    background-color: #304040 !important;
    padding-right: 260px !important;
}

.ui.visible.left.sidebar ~ .ui.stackable.second.menu {
    padding-right: 260px !important;
}

.ui[class*="top fixed"].menu {
    background-color: #304040 !important;
    color: #0f1b07 !important;
}

.ui.button {
    font-family: 'Pridi', 'serif' !important;
    background-color: #04202c !important;
    color: #c9d1c8 !important;
    font-weight: normal;
}

.ui.stackable.second.menu {
    font-family: 'Pridi', 'serif' !important;
    margin-top: 51px !important;
    background-color: #5b7065;
    color: #04202c;
    border-radius: 0;
}

.ui.breadcrumb a {
    color: #c9d1c8 !important;
}

.ui.menu .item {
    color: #04202c !important;
}

.ui.evergreen.segment {
    background-color: #304040;
}
