@import url('https://fonts.googleapis.com/css?family=Pridi:300,400');

body {
	font-family: 'Pridi', 'serif' !important;
	background: url('../images/plainbg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.ui.inverted.segment {
    background-color: transparent;
}

.ui.secondary.pointing.menu {
    font-family: 'Pridi', 'serif' !important;
    font-size: 12pt !important;
    border-bottom: 0 !important;
}

.ui.secondary.pointing.menu .active.item {
    color: #f2711c !important;
    border-color: #f2711c !important;
}

.ui.header {
	font-family: 'Pridi', 'serif' !important;
	color: #000 !important;
}

#searchbox .ui.form .fields .field .ui.input input, .ui.form .field .ui.input input {
	font-family: 'Pridi', 'serif' !important;
}

#searchbox .ui.selection.dropdown {
	min-width: 8em !important;
}

#login-page {
	margin-top: 115px;
}

#login-page .ui.orange.labels .label, .ui.orange.label {
	background-color: #f2711c !important;
	border-color: #f2711c !important;
}

#login-page .ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
	width: 100px;
	font-weight: normal;
}

#login-page .ui.orange.buttons .button, .ui.orange.button {
	font-family: 'Pridi', 'serif' !important;
	font-weight: normal;
}
